#header {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(0, 85, 0, 0.9));
    color: white;
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 75px auto;
    grid-template-rows: auto auto;
    align-items: center;
}

#header a {
    color: inherit;
    text-decoration: inherit;
    text-shadow: 0 0 10px green;
    transition: 500ms;
}

#header ul {
    list-style-type: none;
}

#header-logo {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}
#header-logo > a {
    display: block;
    border-radius: 100%;
    box-shadow: 0 0 10px green;
    overflow: hidden;
}
#header-logo > a > img {
    display: block;
}
#header-logo:hover > a {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(360deg);
}

#header-wordmark {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
#header-title {
    font-family: sans-serif;
    font-size: 1.75em;
    font-weight: bold;
    text-transform: uppercase;
}
#header a:hover {
    color: rgba(255, 255, 255, 0.75);
}
#header-quote {
    font-style: italic;
    margin-left: 20px;
}
@media (max-width: 600px) {
    #header-quote,
    #header-nav {
        display: none !important;
    }
}

#header-nav {
    display: flex;
    flex-wrap: wrap;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-content: right;
}
#header-nav > * + * {
    margin-left: 5px;
}
#header-nav > li > a {
    border: 1px solid transparent;
    cursor: pointer;
    display: block;
    padding: 5px 15px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    transition: border-color 500ms;
}
#header-nav > li > a:hover {
    border-color: chartreuse;
}
#header-nav > li:not(:hover) > .dropdown {
    opacity: 0;
    visibility: hidden;
}
#header-nav > li > .dropdown {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(0, 85, 0, 0.9));
    padding: 4px;
    position: absolute;
    transition: 500ms;
}
#header-nav .dropdown > li > a {
    display: block;
    padding: 5px;
    text-transform: none;
    transition: background 500ms;
}
#header-nav .dropdown > li > a:hover {
    background: green;
}
#header-nav a[href="/join"] {
    background: chartreuse;
    color: black;
}
