<footer id="footer">
    <div id="footer-inner">
        <section id="footer-main">
            <nav id="footer-home">
                <a id="footer-logo" href="/">
                    <img src="/img/logo.png" alt="DT Code Club logo" height="50px">
                </a>
                <a class="site-title" href="/">
                    <span>David Thompson</span>
                    <!-- Styled <span> is used instead of <br>
                    to only break when CSS is loaded -->
                    <span id="footer-title-break"></span>
                    <span>Code Club</span>
                </a>
            </nav>
            <nav id="footer-nav">
                <a href="/about">About</a>
                |
                <a href="/topics">Topics</a>
                |
                <a href="/news">News</a>
                |
                <a href="/join">Join</a>
            </nav>
        </section>
        <section id="footer-contact">
            <ul>
                <!-- TODO: Add icons for each <li> -->
                <li><a href="mailto:dtcodeclub@gmail.com">Email</a></li>
                <li><a rel="external noopener noreferrer" href="https://github.com/dt-code-club">GitHub</a></li>
                <li><a rel="external noopener noreferrer" href="https://discord.gg/W9qvWmcuRn">Discord</a></li>
                <li><a rel="external noopener noreferrer" href="https://instagram.com/dtcodeclub">Instagram</a></li>
            </ul>
        </section>
        <section id="footer-copyright">
            <p>
                <a rel="external license noopener noreferrer" href="https://creativecommons.org/licenses/by-sa/4.0/">
                    <img src="/img/cc-by-sa.svg" alt="CC-BY-SA license button" width="88px" height="31px">
                </a>
            </p>
            <p>
                Copyright (C) 2021 David Thompson Code Club
            </p>
            <p>
                Except where otherwise noted,
                content on this site is licensed under the
                <a rel="external license noopener noreferrer" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
            </p>
            <p>
                Site design thanks to
                <a rel="external noopener noreferrer" href="https://github.com/climbTheStairs">climbTheStairs</a>.
            </p>
        </section>
    </div>
</footer>
