@font-face {
    font-family: "Overpass Mono";
    src: url("./OverpassMono-Medium.ttf");
}

* {
    font-family: "Overpass Mono";
    color: #00ff00;
}

body {
    background-color: #020202;
    font-size: 17px;
}

#terminal {
    filter: url(#SphereMapTest);
}