@font-face {
    font-family: "Parisienne";
    font-display: fallback;
    src: url("/fonts/parisienne/parisienne.ttf") format("truetype");
}

@font-face {
    font-family: "Ubuntu Mono";
    font-display: fallback;
    src: url("/fonts/ubuntu/ubuntu_mono.ttf") format("truetype");
}
@font-face {
    font-family: "Ubuntu Mono";
    font-weight: bold;
    font-display: fallback;
    src: url("/fonts/ubuntu/ubuntu_mono_bold.ttf") format("truetype");
}
@font-face {
    font-family: "Ubuntu Mono";
    font-style: italic;
    font-display: fallback;
    src: url("/fonts/ubuntu/ubuntu_mono_italic.ttf") format("truetype");
}
@font-face {
    font-family: "Ubuntu Mono";
    font-style: italic;
    font-weight: bold;
    font-display: fallback;
    src: url("/fonts/ubuntu/ubuntu_mono_bold_italic.ttf") format("truetype");
}

@font-face {
    font-family: "Wieynk Fraktur Zier";
    font-display: fallback;
    src: url("/fonts/wieynk_fraktur_zier/wieynk_fraktur_zier.ttf") format("truetype");
}
