#header {
    align-items: center;
    background-color: #050;
    background-image: linear-gradient(45deg, #121, #272);
    color: white;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 75px auto;
    grid-template-rows: auto auto;
    padding: 10px;
}

#header-logo {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}
#header-logo > img {
    border-radius: 100%;
    box-shadow: 0 0 10px green;
    display: block;
    transition: transform 500ms;
}
#header-logo:hover > img {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(360deg);
}

#header-wordmark {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
#header-title {
    color: white;
    font: bold 1.75rem / 1em "Wieynk Fraktur Zier", "Arial", sans-serif;
    text-shadow: 0 0 10px green;
}
#header-title:hover {
    color: rgba(255, 255, 255, 0.75);
    color: #fffb;
    text-shadow: none;
}
#header-wordmark > q {
    font-family: "Parisienne", "Times New Roman", serif;
    font-style: italic;
    margin-left: 20px;
}

#header-nav {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    list-style-type: none;
}
#header-nav > li {
    float: left;
}
#header-nav > li + li {
    margin-left: 5px;
}
#header-nav a {
    color: white;
    display: block;
    padding: 5px 15px;
    font-weight: bold;
    text-shadow: 0 0 10px green;
    text-transform: uppercase;
}
#header-nav a:hover {
    color: rgba(255, 255, 255, 0.75);
    color: #fffb;
    text-shadow: none;
}

#header-nav > li > a.important {
    background: #0f0;
    color: black;
    text-shadow: none;
}
#header-nav > li > a.important:hover {
    background: #0c0;
}

#header-nav .dropdown {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(0, 85, 0, 0.9));
    background: linear-gradient(45deg, #000d, #050d);
    list-style-type: none;
    padding: 4px;
    position: absolute;
    transition: 500ms;
}
#header-nav > li:not(:hover) .dropdown {
    opacity: 0;
    visibility: hidden;
}
#header-nav .dropdown a {
    font-weight: normal;
    padding: 5px;
    text-transform: none;
}
#header-nav .dropdown a:hover {
    background: #009b3d;
    background: var(--logo-color);
    color: inherit;
}

@media (max-width: 600px) {
    #header-wordmark > q,
    #header-nav {
        display: none !important;
    }
}
