@font-face {
    font-family: Lexend;
    src: url(./Lexend.ttf);
}

* {
    font-family: Lexend;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding: 20px 200px;
}

.nav-image {
    height: 110px;
}

.nav-item {
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    width: calc(100vw / 5);
    text-align: center;
}