@font-face {
    font-family: Outfit;
    src: url(../style/Outfit.ttf);
}

* {
    font-family: Outfit;
    color: white;
    font-weight: 300;
}

body {
    margin: 0;
    background: url(./gato.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 0;
}

nav {
    height: 52px;
    background: rgba(47, 47, 47, 0.3);
    backdrop-filter: blur(8px);
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 5px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;

    z-index: 1000;
}

#search {
    margin-right: 30px;
}

.taskbar-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

nav img {
    cursor: pointer;
}

.datetime-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 80px;
}

#taskbar-time {
    font-size: 16px;
}

#taskbar-date {
    font-size: 13px;
}

.desktop-icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    padding: 20px;
    gap: 20px;
}

.desktop-icons * {
    height: 40px;
    width: 40px;
}

.window {
    width: 60%;
    height: 80%;
    background-color: whitesmoke;
    position: fixed;
    top: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 4px 5px 7px 0px rgba(0, 0, 0, 0.356);
    transition-property: width, height, top, left;
}

.window.maximized {
    width: 100%;
    height: calc(100vh - 52px);
    top: 0px;
    left: 0px;
    border-radius: 0px;
}

.window-bar {
    height: 45px;
    background-color: lightgray;
    border-radius: 10px 10px 0 0;
    display: flex;
    box-sizing: border-box;
    padding: 7px;
    justify-content: left;
    align-items: center;
    cursor: grab;
    position: relative;
}

.window.maximized>.window-bar {
    cursor: pointer;
    border-radius: 0px;
}

.window.maximized>.window-bar:active {
    cursor: pointer;
}

.window.maximized>iframe {
    border-radius: 0;
}

.window-bar:active {
    cursor: grabbing;
}

.window-icon {
    height: 100%;
    display: block;
}

.window-title {
    color: black;
    flex-grow: 1;
    text-align: center;
    font-size: 25px;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.window-bar-action-buttons {
    display: flex;
    margin-left: auto;
    gap: 10px;
    padding-right: 10px;
}

.action-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.window>iframe {
    flex-grow: 1;
    border: none;
    border-radius: 0 0 10px 10px;
}

.window-bar-icon-actions {
    position: absolute;
    top: 45px;
    left: 0px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.window-bar-action {
    height: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: whitesmoke;
    padding: 4px 10px;
    width: 140px;
}

.window-bar-action>span {
    font-size: 20px;
    color: black;
    transition: 200ms padding-left;
}

.window-bar-action:hover span {
    padding-left: 10px;
}

.window-bar-action>img {
    width: 25px;
}